
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://wallpapers.com/images/hd/hd-medical-health-icon-with-nurse-v1txjiifhv3bssoo.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set the height of the body to 100% of the viewport height */
}


.registration-container {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#continue-button {
    background-color: #0074D9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.continue-button {
    background-color: #0074D9; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .continue-button:hover {
    background-color:#45a049 ;
  }
  